# desktop entry
st.desktop

# original file after patching
Makefile.orig
config.def.h.orig
st.c.orig
st.h.orig
x.c.orig

# use config.def instead
config.h

# object file
boxdraw.o
st.o
x.o

# binary file
st
